extends layout.jade

block content

  section.container
    div.item.logo
    div.item
      h1
        a(href="/")= title
        table
          tr
            th nombre
            th genero
            th año


        
    